page-donation {
h3{
    text-align: center;
    text-transform: capitalize;
    color:#014C9F;
    padding-top:50px;
}


.input{
    background-color: #014C9F;
    width:85%;
    margin:25px auto;
    border-radius: 100px;
    color:white;
    // margin-top:40px;
    
}
#item{
    border:2px solid #014C9F;
    width:85%;
    margin:0px auto;
    border-radius: 30px;
}
.item-block{
    border:2px solid #014C9F;
}

#click-upload{
    height:100px;
    width:100px;
    padding-top:5px;
    text-align: center;
}

#file{
    // border:2px solid #014C9F;
}
.inputs{
    // border : 2px solid red;
    height:70%;
    margin-top:80px;
    text-align: center;
    button{
    border-radius: 100px;
    margin-top:90px;
    }
}
.select{
    // margin-top:50px;
    padding-top:20px;
 
}
.btndiv{
    // border: 2px solid red;
    text-align: center;
    height:40%;
    width:100%;
    justify-content: center;
    img{
        // padding-left:50px;
    }
}
h5{
    color:#014C9F;
    padding-left:15px;
}

}
