page-signin {
    .divImage{
        text-align: center;
        margin-top:13px;
        img{
            height:200px;
        }
   
    }
    p{
        font-size: 2.5em;
        text-align: center;
        color:red;
        font-family: 'Roboto Slab', serif;
    }
    .btnSign{
        height: 40px;
        border-radius: 100px;
        width:50%;
        text-align: center;
    }
    b{
        color:#F28B00;
    }
    #forgotPassword{
        text-transform: capitalize;
    }
    #textbtn{
        text-transform: capitalize;  
    }
    #anim1{
        box-shadow: 2px  3px #014C9F;
        border-radius: 100px;
        width:80%;  
        text-align: center;
        margin:20px auto;
        padding-left:10px;
    }
    #anim2{
        border-radius: 100px;
        width:60%;  

    }
    .moveCont{
        text-align: center;
        margin-top:35px;
  
    }
    .movebtn{
        border:2px solid green;
        text-align: center;
    }
    span{
        justify-content: center;
    }
    .help-block{
        justify-content: center;
    }
   .theCard{
       text-align: center;
   }
   .content{
    //   background-image: url('../../assets/logo.jpg');

    //  background-image: linear-gradient(#f4f4f4cd, rgb(243, 243, 243)), url('../../assets/logo.jpg');

      background-size:cover;
      background-attachment: fixed;
      background-repeat: no-repeat;
    //   height:50%;
   }


}
