<ion-content>
  <div class="divImage">
    <img src="../../assets/logo.jpg">
  </div>
  <p class="header">aDima</p>
  <div id="recaptcha-container"></div>
  <div class="inoutdiv">
      <input type="text" [(ngModel)]="phoneNumber.country" class="input" placeholder="27" maxlength="2">
      <input type="text" [(ngModel)]="phoneNumber.area" class="input" placeholder="949" maxlength="3">
      <input type="text" [(ngModel)]="phoneNumber.prefix" class="input" placeholder="555" maxlength="3">
      <input type="text" [(ngModel)]="phoneNumber.line" class="input" placeholder="5555" maxlength="4">
  </div>
 
  <div class="divbtn">
      <button ion-button (click)="sendCode()">Make Request</button>

  </div>
  <!-- <div *ngIf="this.windowRef.confirmationResult"> -->
  <p class="font" for="code">Enter your Verification Code Here</p><br>
  <div class="input3">
  <input type="text" name="code" class="input2" [(ngModel)]="verificationCode">
  <!-- <input type="text"  class="input2" placeholder="name" [(ngModel)]="name">   -->

  </div>
  <div class="divbtn">
      <button ion-button (click)="verifyLoginCode()">Verify</button>
  </div>
 
  <!-- </div> -->

  <div *ngIf="user">
    You have successfully logged in with your phone number!

    UserId: {{ user?.uid }}
  </div>
</ion-content>