page-associate {
    .top{
        background-color: #014C9F;
        height:10%;
        width:100%;
        img{
            height:50px;
            padding-left:10px;
            padding-top:10px;
        }
    }
    .bottom{
      height:90%;
      width:100%;
      padding-top:50px;
     
    }
    .img{
        box-shadow: 2px 15px 20px -15px rgb(53, 53, 53);
        // border:2px solid red;
        height:120px;
        width:35%;
        border-radius: 20px;
        z-index: 1;
        position: absolute;
        margin-top:-5%;
        margin-top:10%;
        margin-LEFT: 55%;
        background-color: whitesmoke;

        img{
          border-radius: 20px;
          height:120px;
          width:150px;
        }
    }

    .btndiv3{
        padding-left:15px;

        button{
            border-radius: 100px;
        }
    }

    .details{
        padding-left:10px;
        padding-top:5px;
    }
    .infor{
        // border:2px solid red;
        height:220px;
        width: 300px;
        border-radius: 20px;
        box-shadow: 2px 15px 20px -15px rgb(53, 53, 53);
        margin: 20px auto;
        background-color: whitesmoke;
        z-index:10;
       
    }

}
